<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            blue: "#1fb6ff",
                            purple: "#7e5bef",
                            pink: "#ff49db",
                            orange: "#ff7849",
                            green: "#13ce66",
                            yellow: "#ffc82c",
                            "gray-dark": "#273444",
                            gray: "#8492a6",
                            "gray-light": "#d3dce6",
                            bg: "#232D3F",
                            fore: "#F6F1EE",
                            second: "#008170",
                        },
                    },
                },
            };
        </script>
    </head>
    <body>
        <div
            class="h-screen w-screen flex flex-col items-center justify-center bg-bg"
        >
            <h2 class="text-3xl text-fore p-16">Add New Task</h2>
            <form
                action="#"
                th:action="@{/task}"
                th:object="${task}"
                method="POST"
                class="flex flex-col justify-start gap-8 items-start"
            >
                <input
                    th:field="*{name}"
                    id="name"
                    placeholder="task name"
                    class="bg-second border-none rounded-md p-4 text-xl"
                />
                <input
                    th:field="*{description}"
                    id="description"
                    placeholder="task description"
                    class="bg-second border-none rounded-md p-4 text-xl"
                />

                <div class="flex flex-row justify-between items-center w-full">
                    <button type="button" class="bg-blue p-8 rounded-md">
                        <a href="/">Back</a>
                    </button>
                    <button type="submit" class="bg-green p-8 rounded-md">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
